@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*
{
    padding: 0;
    margin: 0;
}

body 
{
    background-color: #ffe4c4;
    color:#000000;
    height: 100vh;
}

p
{
    margin: 10;
    padding: 5px;
}

.destacando-titulo 
{
    color: #22D4FD
}

.saludo-presentacion
{
    color: #000080
}

.presentacion
{
    display: flex;
    align-items: center;
    margin: 8%;
    justify-content: space-between;
}

.presentacion-contenido
{
    width: 615px;
}

.presentacion-contenido-titulo
{
    font-size: 36px;
    font-family: "Krona One", serif;
}

.presentacion-contenido-textoparrafo
{
    font-size: 24px;
    font-family: "Montserrat", serif;
}

.presentacion-links-contactos
{
    display: flex;
    justify-content: space-around;
}

.links-contactos
{
    width: 280px;
    background-color:#22D4FD;
    text-align: center;
    padding: 21.5px 0;
    border-radius: 18px;
    font-size: 24px;
    font-family: "Montserrat", serif;
    font-weight: 600;
    text-decoration: none;
    color: #000000;
}