@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*
{
    padding: 0;
    margin: 0;
}

body 
{
    background-color: #000000;
    color:#F6F6F6;
    height: 100vh;
}

p
{
    margin: 10;
    padding: 5px;
}

.destacando-titulo 
{
    color: #22D4FD
}

.saludo-presentacion
{
    color: #A6A5F6
}

.presentacion
{
    display: flex;
    align-items: center;
    margin: 8% 10%;
    justify-content: space-between;
}

.presentacion-contenido
{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.presentacion-contenido-titulo
{
    font-size: 36px;
    font-family: "Krona One", serif;
}

.presentacion-contenido-textoparrafo
{
    font-size: 24px;
    font-family: "Montserrat", serif;
}

.presentacion-links-contactos
{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.links-contactos
{
    width: 330px;
    text-align: center;
    padding: 21.5px 0;
    border-radius: 8px;
    font-size: 24px;
    font-family: "Montserrat", serif;
    font-weight: 600;
    text-decoration: none;
    color: #F6F6F6;
    border: 5px groove #22D4FD;
    display: flex;
    justify-content: center;
    gap: 12px;
}

.links-contactos:hover
{
    background-color: #c5bfbf;
    width: 60%;
    cursor: pointer;
}

.sub-titulo-links
{
    font-size: 24px;
    font-family: "Krona One", serif;
    font-weight: 500;
}